body {
    height: 400px;
    background-image: url("https://image.shutterstock.com/image-vector/smile-vector-pattern-on-dark-260nw-1771571783.jpg");
    background-size: cover;
    background-repeat:no-repeat;
    background-position: center center;
    }
    
    